/* written by Jinfan | 2006-12-22 */
body, table, input, button{
	font-family:Simsun;
	font-size:12px; color:#333333;}
body{
	background-image:url(../images/login/background.gif); background-repeat:no-repeat;
	background-position:center 15px;
	text-align:center;
	margin:0px;}
form{
	margin:0; padding:0;}
#panel{
	width:295px; height:82px;
	padding-left:210px; padding-top:23px;
	margin:163px auto 0px auto;
	background-image:url(../images/login/panel.tif); background-repeat:no-repeat;}
#p_input{
	float:left;}
#p_input td{
	padding-bottom:8px;
	padding-right:10px;}
.input_t{
	color:#666600;}
.input_c input{
	width:130px;}
#p_bt{
	float:left;}

/*
------
Error 
------
*/
.errorMessage
{
	FONT-SIZE: 12pt;
	COLOR: #ff2222;
	width:250px;
}
